body {
    margin: 20px;
    width: 70%;
}
html {
    min-height: 100%;
}
nav, footer {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #b9b9b9;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #62c275; 
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #dadada;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 0px solid #756f6f;
    font-size: .8em;
}
#quoteContainer { 
    position: fixed;
    width: 80%; 
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: oblique; 
    font-size: 1.5em; 
    text-align: center; 
    text-transform: none; 
    text-shadow: 0px 0px 3px #000000;
}
#buttonContainer {
    text-align: center; 
}
@media only screen and (max-device-width: 480px) {
    #wrapper {
        text-align: center;
        width: 100%; 
    }
    h1 {
        position: fixed; 
        top: 10%; 
        left: 50%; 
        transform: translate(-50%, 0%); 
        font-size: 6em;
        width: 100%; 
    }
    #quoteContainer { 
        font-size: 2em; 
    }
    .navigate a{
        padding-left: 10px; 
        padding-riht: 10px;
    }

    .navigate { 
        text-align: center;
    }
}
